.movies__list {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, max-content));
    gap: 38px 20px;
    padding-top: 22px;
    list-style-type: none;
    padding-left: 70px;
}

.movies__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 80px;
}

.movies__button {
    width: 320px;
    height: 36px;
    border: 1px solid #E8E8E8;
    background: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    border-radius: 7px;
    cursor: pointer;
}


.movies__button:hover {
    opacity: 0.7;
}


@media screen and (max-width:1200px) {
    .movies__list {
        grid-template-columns: repeat(2, minmax(min-content, max-content));
        gap: 30px;
        padding-left: 30px;
    }

    .movies__button {
        width: 240px;
    }
}

@media screen and (max-width:600px) {
    .movies__list {
        grid-template-columns: repeat(1, minmax(min-content, max-content));
        padding-left: 10px;
        justify-content: center;
    }
    
    .movies__button {
        width: 200px;

    }
}