.movies {
    flex-grow: 1;
}

.movies__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 80px;
}

.movies__button {
    width: 320px;
    height: 36px;
    border: 1px solid #E8E8E8;
    background: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    border-radius: 7px;
    cursor: pointer;
}