.about {
    padding: 110px 70px;
    display: flex;
    flex-direction: column;
}

.about__description-container {
    padding-top: 70px;
    display: flex;
    gap: 40px;
}

.about__description {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.about__title-main {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #000000;
    padding-bottom: 23px;
    border-bottom: 1px solid #000000;
    margin: 0;
}

.about__title {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #000000;
    margin: 0;
}

.about__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin: 0;
}

.about__time-container {
    display: flex;
    padding-top: 110px;
}

.about__backend {
    width: calc(100% / 5);
    text-align: center;
}

.about__frontend {
    width: calc(100% - (100% / 5));
    text-align: center;
}

.about__week {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
    min-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 14px;
}

.about__week_frontend {
    background-color: #F2F2F2;
    color: #000000;
}

.about__tech {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #A0A0A0;
    margin: 0;

}

@media screen and (max-width: 1023px) {
    .about {
        padding: 90px 50px;
    }

    .about__description-container {
        gap: 30px;
    }

    .about__description {
        gap: 22px;
    }


    .about__time-container {
        padding-top: 93px;
    }

    .about__text {
        font-size: 12px;
        line-height: 18px;
    }
}



@media screen and (max-width: 660px) {
    .about {
        padding: 70px 18px;
    }

    .about__description {
        gap: 16px;
    }

    .about__description-container {
        flex-direction: column;
        padding-top: 60px;
        gap: 56px;
    }

    .about__title {
        font-size: 18px;
    }

    .about__text {
        font-size: 11px;
        font-weight: 400;
        line-height: 16px;
    }

    .about__week {
        font-size: 11px;
        line-height: 13px;
        margin-bottom: 10px;
        min-height: 35px;
    }

    .about__backend {
        width: 100px;
    }

    .about__frontend {
        width: calc(100% - 100px);
        text-align: center;
    }

    .about__tech {
        font-size: 11px;
        line-height: 13px;
    }

    .about__time-container {
        padding-top: 60px;
    }

}